* { margin:0; padding:0; }

body          { background:#424959; font:12px/1.35 Arial, Helvetica, sans-serif; color:#000; text-align:center; }
table,
div#conteudo  { max-width: 800px; margin:  0 auto; }

img           { border:0; vertical-align:top; }

a             { color:#fff; text-decoration:underline; }
a:hover       { text-decoration:none; }
:focus        { outline:0; }

/* Headings */
h1            { font-size:20px; font-weight:normal; line-height:1.15; }
h2            { font-size: 30px; font-weight: bold; color: #fff; letter-spacing: 10px; margin: 100px 0px 0px 15px; }
h3            { font-size:16px; font-weight:bold; line-height:1.25; }
h4            { font-size:14px; font-weight:bold; }
h5            { font-size:12px; font-weight:bold; }
h6            { font-size:11px; font-weight:bold; }

/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { color: #9eb0b7; padding: 10px; text-align: left; }

/* Table */
table         { border:0; border-collapse:collapse; border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* Content */
strong        { font-weight:bold; }
address       { font-style:normal; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small,big     { font-size:1em; }
sup           { font-size:1em; vertical-align:top; }

/* Lists */
ul,ol         { list-style:none; }

/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left,
.left         { float:left !important; }
.f-right,
.right        { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.no-bg        { background:none !important; }
/* ======================================================================================= */


/* Global Styles ========================================================================= */
/* Form Elements */
input,select,textarea { font:18px Arial, Helvetica, sans-serif; vertical-align:middle; color:#000; background:#7e83a2; }
input.input-text,select,textarea { background:#7e83a2; border:1px solid #ddd; border-radius: 2px; width: 350px; }
input.input-text,textarea { padding:5px; }
select { padding:1px; }
select option { padding-right:10px; }
select.multiselect option { border-bottom:1px solid #ddd; padding:2px 5px; }
select.multiselect option:last-child { border-bottom:0; }
textarea { overflow:auto; }
input.radio { margin-right:3px; }
input.checkbox { margin-right:3px; }
input.qty { width:2.5em !important; }

button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
input.button { overflow:visible; width:auto; border:0; padding:10px 50px 10px 50px; margin:10px 20px 30px; background: #51abd5; color: #000; font-size: 12px; font-weight: bold; cursor:pointer; }
input.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
input.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
div#lista input.button.delete { background: #ef647d;  padding: 10px 15px; } 
div#lista input.button.delete:hover { background: #cb314d; } 
div#lista input.button { background: #cadde1; }
div#lista input.button:hover { background: #7ea9b2; }

table tr:hover { background: #cadde1; }

button.button span { float:left; height:21px; background:transparent url(../images/bkg_button.gif) 0 0 no-repeat; padding:0 0 0 8px; font:bold 12px/21px Arial, Helvetica, sans-serif; text-align:center; white-space:nowrap; color:#fff; }
button.button span span { background-position:100% 0; padding:0 12px 0 4px; }
button.disabled {}
button.disabled span {}

button.btn-checkout span {}
button.btn-checkout.no-checkout {}

::-webkit-input-placeholder { color: white; font-size: 12px; }
:-moz-placeholder { color: white; }
::-moz-placeholder { color: white; }
:-ms-input-placeholder { color: white; }

form fieldset { float: left; width: 50%; min-height: 220px; }
.thumb { width: 125px; height: 125px; padding: 10px; border: 0px; }

div#msg-php { background: #fff; padding: 10px; margin: 20px; font-weight: bold; color: red; }
div#lista { background: #f1f5f8; padding: 20px; }
div#lista table { margin: 0 auto; background: #fff; padding: 10px; width: 95%; }
div#lista img.thumb { width: 95px; height: 95px; }
div#lista p.plus { font-weight: bold; font-size: 22px; padding: 10px 0px 10px 0px; }

p.a,
p.rodape { padding: 20px; color: #fff; font-size: 11px; font-weight: bold; }
input.focus { background: #fff; }